
@{
    ViewBag.Title = "Index";
}

<h2>Docente</h2>

<link href="~/Content/datatables.min.css" rel="stylesheet" />


<label>Ingrese Modalidad Contrato:</label>
<select id="cboModalidad">
</select>



<div id="tabla-docente"></div>

<script src="~/Scripts/CUSTOM/docente.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
