
@{
    ViewBag.Title = "TablaDocentes";
}

<h2>TablaDocentes</h2>

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />

<div>
    <label>Sexo:</label>
    <select id="cboSexo">
    </select>

    <label>Modalidad Contrato:</label>
    <select id="cboModalidadContrato">
    </select>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="abrirModal(-1)">
    Agregar
</button>
<br />
<br />


@*tabla docentes creada a traves de ajax*@
<div id="tabla-docentes"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DOCENTES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:90%;margin:auto">
                    <tr>
                        <td>ID</td>
                        <td><input type="text" id="txtIdDocente" readonly class="limpiar" /><label id="lbltxtIdDocente"></label></td>
                    </tr>
                    <tr>
                        <td>NOMBRE</td>
                        <td><input type="text" id="txtNombre" class="limpiar obligatorio" /><label id="lbltxtNombre"></label></td>
                        
                    </tr>
                    <tr>
                        <td id="lblApellidoPaterno">APELLIDO PATERNO</td>
                        <td><input type="text" id="txtApellidoPaterno" class="limpiar obligatorio" /><label id="lbltxtApellidoPaterno"></label></td>
                       
                    </tr>
                    <tr>
                        <td>APELLIDO MATERNO</td>
                        <td><input type="text" id="txtApellidoMaterno" class="limpiar obligatorio" /><label id="lbltxtApellidoMaterno"></label></td>
                     
                    </tr>
                    <tr>
                        <td>DIRECCION</td>
                        <td><input type="text" id="txtDireccion" class="limpiar obligatorio" /><label id="lbltxtDireccion"></label></td>
                      
                    </tr>
                    <tr>
                        <td>TELEFONO FIJO</td>
                        <td><input type="text" id="txtTelefonoFijo" class="limpiar obligatorio" /><label id="lbltxtTelefonoFijo"></label></td>
                     
                    </tr>
                    <tr>
                        <td>TELEFONO CELULAR</td>
                        <td><input type="text" id="txtTelefonoCelular" class="limpiar obligatorio" /><label id="lbltxtTelefonoCelular"></label></td>
                       
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td><input type="text" id="txtEmail" class="limpiar obligatorio" /><label id="lbltxtEmail"></label></td>
                        
                    </tr>
                    <tr>
                        <td>SEXO</td>
                        <td><select id="cboSexoPopUp" class="limpiarCbo obligatorio"></select><label id="lblcboSexoPopUp"></label></td>
                       
                    </tr>
                    <tr>
                        <td>FECHA DE CONTRATO</td>
                        <td><input type="text" id="dtpFechaContrato" class="limpiar obligatorio" /><label id="lbldtpFechaContrato"></label></td>
                        
                    </tr>
                    <tr>
                        <td>MODALIDAD</td>
                        <td><select id="cboModalidadContratoPopUp" class="limpiarCbo obligatorio"></select><label id="lblcboModalidadContratoPopUp"></label></td>
                     
                    </tr>
                    <tr>
                        <td>FOTO</td>
                        <td> <img id="imgFoto" width="100" height="100" style="border:1px solid" /><label id="lblimgFoto"></label></td>
                     
                    </tr>

                </table>


            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="agregar()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/CUSTOM/docenteScript.js"></script>

<select>
    <option value='-1'>--Seleccionar--</option>
</select>