
@{

}


<h2>Index</h2>

<label>Ingrese numero 1</label>
<input type="text" id="txtNumero1" />
<br />
<label>Ingrese numero 2</label>
<input type="text" id="txtNumero2" />
<br />
<input type="button" value="Sumar" id=btnSumar />
<input type="button" value="Limpiar" id="btnLimpiar" />
<br />
<label id="lblResultado"></label>



<script src="~/Scripts/sumar.js"></script>