
@{
    ViewBag.Title = "TablaCurso";
}

<h2>TablaCurso</h2>

<link href="~/Content/datatables.css" rel="stylesheet" />

<br />
<br />


<label>Ingrese el nombre del curso</label>
<input type="text" id="txtNombre" value="" />
<input type="button" id="btnLimpiar" value="Limpiar" class="btn-light" />
<br />
<br />

<div id="tablaCursoVista"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/TablaCurso.js"></script>
<script src="~/Scripts/datatables.min.js"></script>

